.sistem{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.sistem-left{
    flex-basis: 52%;
    position: relative;
}

.sistem-right{
    flex-basis: 40%;
}

.sistema-img{
    
    border-radius: 10px;
}

.play-icon{
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.sistem h3{
    font-weight: 600;
    font-weight: 16px;
    color: black;
}

.sistem p{
    font-size: 15px;
    color: black;
    margin: 10px 0;
    max-width: 400px;
}