.sistem{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.sistem-left{
    flex-basis: 52%;
}

.sistem-right{
    flex-basis: 40%;
}

.sistem-video{
    width: 100%;
    border-radius: 10px;
}

.sistem h3{
    font-weight: 600;
    font-weight: 16px;
    color: black;
}

.sistem p{
    font-size: 15px;
    color: black;
    margin: 10px 0;
    max-width: 400px;
}